body {
        margin: 0 auto;
    }
    svg {
      position: absolute;
      margin: 0 auto;
    }
    path {
      stroke: #ccc;
      stroke-width: 0.75;
    }
    .move {
      transform: translate(200px, -310px);
    }
    .wheel1 {
      transform: skewX(60deg);
    }
